@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
